.fileStore-container {
	background-color: RGB(28, 36, 49);
	/* background-image: url(E:\LearnReact\FYLO\fylo\src\images\bg-curvy-desktop.svg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;
	background-position: bottom; */

	/* padding-top: 150px; */
}
.fileStore {
	/* overflow: hidden; */
	/* background-color: aquamarine; */

	color: #fff;
	max-width: 1600px;
	margin: 0 auto;
}

.desc {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 300px;
	justify-content: space-evenly;
	z-index: 20;
}
.title {
	width: 55%;
}
.title h1 {
	text-align: center;
}

.info {
	padding: 0 10px;
	width: 30%;
}
.info p {
	text-align: center;
	font-size: 12.5px;
	color: RGB(168, 176, 189);
}

.btn button {
	height: 45px;
	width: 150px;
	background-image: linear-gradient(90deg, #48c6ef 0%, #6f86d6 100%);
	color: RGB(232, 255, 255);
	font-size: 14px;
	font-weight: 1000;
	border: none;
	border-radius: 50px;
}
.btn button:hover {
	cursor: pointer;
	background-image: linear-gradient(90deg, #89f7fe 0%, #66a6ff 100%);
}
.curve {
	position: relative;
}
.curve img {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 10;
}
