header {
	background-color: hsl(217, 28%, 15%);
	height: 100vh;
	margin: 0;
	overflow: hidden;
	color: #fff;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 90px;
	max-width: 1600px;
	margin: 0 auto;
}

.logo {
	max-width: 100%;
	max-height: 1.5rem;
	cursor: pointer;
}
.nav_links {
	list-style: none;
	font-size: 17px;
}
.nav_links li {
	display: inline-block;
	padding: 20px;
}
.nav_links li a {
	text-decoration: none;
	color: RGB(167, 176, 192);
}
.nav_links li :hover {
	/* font-size: 18px; */
	font-weight: bolder;
	text-decoration: underline;
}
.image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0px 0px;
}

.image img {
	width: 45%;
	z-index: 20;
}
