.section-feedback {
	padding: 60px 0 30px;
	background-color: #181e2a;
	position: relative;
}

.section-feedback .comma {
	height: 50px;
	position: absolute;
	left: 80px;
	top: -35px;
}
.wrapper-feedback {
	max-width: 1600px;
	margin: 0 auto;
	position: relative;
	padding: 0 100px 200px;
}
.feedback-card {
	background-color: #21293c;
	color: #a7afc4;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	height: fit-content;
	padding: 30px 25px;
	border-radius: 8px;
	z-index: 2;
}
/* #fbffff */
.feedback-card .feedback-text {
	width: 835px;
	padding-bottom: 10px;
	width: 300px;
	font-size: 14.5px;
	line-height: 1.3rem;
}
.feedback-info {
	padding-top: 10px;
	display: flex;
	gap: 15px;
}
.feedback-info img {
	width: 40px;
	border-radius: 50%;
}
.feedback-info h4 {
	font-size: 15px;
	font-weight: 700;
	color: #fcffff;
}
.feedback-info span {
	color: #a6afc4;
	font-size: 12px;
	font-weight: 600;
}
/*--------- Access -----------*/
.access {
	position: absolute;
	bottom: -150px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
}
.container-access {
	background-color: #1c2431;
	max-width: 1600px;
	padding: 40px;
	width: 700px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.desc-access {
	color: #feffff;
	text-align: center;
}
.desc-access h2 {
	color: hsl(0, 0%, 100%);
	padding-top: 15px;
	font-size: 30px;
	font-weight: bold;
}
.desc-access p {
	padding-top: 15px;
	padding-bottom: 10px;
	width: 500px;
	color: hsl(220, 22%, 71%);
	line-height: 1.25rem;
	font-size: 14.5px;
}
.des-access-input {
	padding-top: 15px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	gap: 15px;
}
.des-access-input #email {
	outline: none;
	border: 1px solid transparent;
	border-radius: 30px;
	height: 52px;
	width: 300px;
	max-width: 655px;
	padding: 15px 25px;
	font-size: 15px;
	color: #abb0b7;
}
.des-access-input button {
	background: linear-gradient(
		90deg,
		rgba(101, 226, 217, 1) 0%,
		rgba(0, 188, 212, 1) 50%,
		rgba(51, 158, 204, 1) 100%
	);
	color: #e2ffff;
	font-size: 14px;
	font-weight: 700;
	border: 1px solid transparent;
	border-radius: 30px;
	height: 52px;
	width: 200px;
	border: 1px solid none;
}
